<div class="container">
 <h1 class="text-center bg-infor, px-3 p-5">About</h2>
 <div class="row">
   <h3 class="px-3 mx-auto">
     ながのCAKEは全国配送可能なケーキ屋さんです。<br>
     お子さんからお年寄りの方までお召し上がりいただけるよう、様々なバリエーションを用意しております。<br>
     また全国配送可能なので「いつ」でも「どこ」でもご注文いただけます。<br>
     ぜひご注文ください。
   </h3>
 </div>
</div>