<div class="row">
<h3 class="head-line text-center title_h2 mt-3"><span>商品一覧</span></h3>
<% @items.each do |item| %>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"> <%= attachment_image_tag item,:image, :fill, 150, 80 %></h4>
      <p class="card-text">
        <%= link_to item_path(item) do %>
        <%= item.name %>
      <% end %>
       </p>
       <p class="card-text"><%= item.price %></p>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
